{% extends "layouts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Pick a new password &mdash; thinkbot{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {% if validlink %}
    <h1>Pick a new password</h1>
    <form class="auth" method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}

      <input class="btn btn-primary btn-lg" type="submit" value="{% trans 'Set new password' %}" />
    </form>
    {% else %}
    <h1>Password reset failed</h1>
    <p>Please <a href="mailto:support@thinkbot.net">write to me</a> if I can assist you in any way.<p>
    {% endif %}
  </div>
</div>
{% endblock %}
