{% extends "layouts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Sign up &mdash; thinkbot{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Sign up or <a href="{% url 'auth_login' %}">login</a> to use thinkbot</h1>
    <form class="auth" method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-success btn-lg" type="submit" value="{% trans 'Sign up' %}" />
    </form>
  </div>
</div>
{% endblock %}
