{% extends "layouts/narrow.html" %}

{% block title %}About thinkbot{% endblock %}

{% block narrow_content %}
<h1>About thinkbot</h1>
<p>You don&#8217;t need another computer to administer. You need seamless access to powerful tools when you&#8217;re pondering important questions.</p>
<p>You don&#8217;t need another paper behind a journal&#8217;s paywall. You need a way to easily share your science with everyone.</p>
<p>Computational science is hard. I&#8217;m building thinkbot to make things easier.</p>
{% if not user.is_authenticated %}
<p>Like how all this sounds?</p>
<p><a class="btn btn-success btn-lg" href="{% url 'registration_register' %}">Try thinkbot</a></p>
{% endif %}
{% endblock %}

