{% extends "layouts/base.html" %}

{% block title %}About thinkbot{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h1>About thinkbot</h1>
    <ul>
      <li>The philosophy behind the service</li>
      <li>Diagram to illustrate it</li>
      <li>How many hours have you, or your students or your employees lost deal with exotic compiler flags and incompatible library versions</li>
      <li>More about me&mdash;formally trained in science, general install guru, working on websites since forever, seen enough pitfalls students fall into</li>
      <li>Gallery of interesting uses</li>
      <li>Will open source the project for $20000</li>
    </ul>
      {% if not user.is_authenticated %}
<p>Like how all this sounds?</p>
<p><a class="btn btn-success btn-lg" href="{% url 'registration_register' %}">Try thinkbot</a></p>
{% endif %}
<h2 id="features-status">Development status</h2>
<h3>Core functionality</h3>
<h3>Conveniences and efficiency</h3>
<h3>Security</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Feature</th>
        <th>Progress</th>
        <th class="text-center">Contribute</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Enable SSL throughout the site and API</td>
        <td>
	  <div class="progress">
	    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
	      <span class="sr-only">100% Complete (success)</span>
	    </div>
	</div>
	</td>
	<td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Secure payments with Stripe</td>
	<td>
	  <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:10%">
	      <span class="sr-only">10% Complete (danger)</span>
	    </div>
	</div>
	</td>
	<td class="text-center"><span class="glyphicon glyphicon-heart-empty"></span></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Play Kanye&#8217s Yeezus</td>
        <td>
	  <div class="progress">
	    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
	      <span class="sr-only">60% Complete (warning)</span>
	    </div>
	  </div>
	</td>
	<td class="text-center"><span class="glyphicon glyphicon-heart-empty"></span></td>
      </tr>
    </tbody>
  </table>
</div>
<p>If you'd like to speed up the development on any of these fronts, please consider sponsoring my time to work on them.</p>
<h2>Partner organisations</h2>
Studix, Orobix, Still-water supercomputing etc.
</div>
</div>
{% endblock %}

<!--  <li>Try to raise funds for individual features to determine what is interesting for people</li>
</ul>-->
<!--I will work with you personally to add support for your software</p>


<!--[List of upcoming features. Who is interested in it. And how you can support specific features, such as smoothening out the platform of your choice. Financial modelling? Comp. Bio? Molecular dynamics? Machine learning?]</p>-->
