{% extends "layouts/narrow.html" %}

{% block title %}Dashboard &mdash; thinkbot{% endblock %}

{% block narrow_content %}
<h1>Dashboard</h1>

<ul id="dashboard_tabs" class="nav nav-tabs">
  <li class="active"><a href="#api" data-toggle="tab">API Credentials</a></li>
  <li><a href="#jobs" data-toggle="tab">Job History</a></li>
  <li><a href="#account" data-toggle="tab">Account Details</a></li>
</ul>

<div id="dashboard_tabs" class="tab-content">

  <div class="tab-pane fade in active" id="api">
    <h2>API Quickstart</h2>
    <p>Your Authorization Token for the following REST requests is: <strong>{{ user_token }}</strong></p>
  </div>

  <div class="tab-pane fade" id="jobs">
    <h2>The status of your jobs</h2>
    <p>The following <a href="{% url 'api_root' %}users/{{ user.id }}">HTML interface</a> to the API gives you a deeper look at your jobs, and often comes handy during debugging.</p>
    <div class="table-responsive">
      <table class="table">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Name</th>
	    <th>Environment</th>
	    <th>Status</th>
	  </tr>
	</thead>
	<tbody>
	  {% for job in user.jobs.all %}
	  <tr>
	    <td>{{ job.id }}</td>
	    <td><a href="{% url 'api_root' %}jobs/{{ job.id }}">{{ job.name }}</td>
	    <td>{{ job.environment }}</td>
	    <td>{{ job.status }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade" id="account">
    <h2>Edit your profile</h2>
    <p class="text-muted">Coming soon</p>
    <h2>Edit your payment information</h2>
    <p class="text-muted">Coming soon</p>
  </div>

</div>
{% endblock %}
