{% extends "layouts/base.html" %}

{% block title %}Dashboard &mdash; thinkbot{% endblock %}


{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h1>thinkbot Dashboard</h1>
    <div class="bs-example bs-example-tabs">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#api" data-toggle="tab">API Credentials</a></li>
        <li><a href="#jobs" data-toggle="tab">Job History</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="api">
	  <p>Your Authorization Token for the following REST requests is: <strong>{{ user_token }}</strong></p>
        </div>
        <div class="tab-pane fade" id="jobs">
	  <div class="table-responsive">
	    <table class="table">
	      <thead>
		<tr>
		  <th>#</th>
		  <th>Name</th>
		  <th>Environment</th>
		  <th>Status</th>
		</tr>
	      </thead>
	      <tbody>
		{% for job in user.jobs.all %}
		<tr>
		  <td>{{ job.id }}</td>
		  <td><a href="">{{ job.name }}</td>
		  <td>{{ job.environment }}</td>
		  <td>{{ job.status }}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
          </div>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
