{% extends "layouts/narrow.html" %}

{% block title %}API Documentation &mdash; thinkbot{% endblock %}

{% block narrow_content %}
{% if user.is_authenticated %}
<div class="alert alert-success">
  Welcome {{ user.username }}. Your Authorization Token for the following REST requests is: <strong>{{ user_token }}</strong>.
</div>
{% endif %}

    {% include 'pages/quickstart.html' %}



<h2 id="resources">All resources</h2>

<h3 id="users">Users</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Method</th>
        <th>Slug</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>POST</code></td>
        <td><code>/users/</code></td>
        <td>Create or sign-up a new user</td>
      </tr>
      <tr>
        <td><code>GET</code></td>
        <td><code>/users/{id}/</code></td>
        <td>Retrieve specific user information</td>
      </tr>
      <tr>
        <td><code>PUT</code></td>
        <td><code>/users/{id}/</code></td>
        <td>Update specific user information</td>
      </tr>
      <tr>
        <td><code>DELETE</code></td>
        <td><code>/users/{id}/</code></td>
        <td>Delete specific user</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 id="environments">Environments</h3>
<p>In addition to the <a href="">standard environments</a> that thinkbot comes prebuilt with, you can define and use your own software environments.</p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Method</th>
        <th>Slug</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>POST</code></td>
        <td><code>/environments/</code></td>
        <td>Define a new software environment</td>
      </tr>
      <tr>
        <td><code>GET</code></td>
        <td><code>/environments/{id}/</code></td>
        <td>Retrieve specific environment information</td>
      </tr>
      <tr>
        <td><code>PUT</code></td>
        <td><code>/environments/{id}/</code></td>
        <td>Update specific environment information</td>
      </tr>
      <tr>
        <td><code>DELETE</code></td>
        <td><code>/environments/{id}/</code></td>
        <td>Delete specific environment</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 id="jobs">Jobs</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Method</th>
        <th>Slug</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>POST</code></td>
        <td><code>/jobs/</code></td>
        <td>Submit a new job</td>
      </tr>
      <tr>
        <td><code>GET</code></td>
        <td><code>/jobs/{id}/</code></td>
        <td>Query specific job status</td>
      </tr>
      <tr>
        <td><code>GET</code></td>
        <td><code>/jobs/{id}/results/{id}</code></td>
        <td>Retrieve specific job results</td>
      </tr>
      <tr>
        <td><code>PUT</code></td>
        <td><code>/jobs/{id}/</code></td>
        <td>Update specific job</td>
      </tr>
      <tr>
        <td><code>DELETE</code></td>
        <td><code>/jobs/{id}/</code></td>
        <td>Delete specific job</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 id="sessions">Sessions</h3>
<p>Sometimes, the program you want to run can&#8217;t be neatly broken down into a <a href="#jobs">stateless job script</a> that you can submit and check on later. To run such programs more interactively, you need to employ a compute session.</p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
	<th>Method</th>
	<th>Slug</th>
	<th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td><code>POST</code></td>
	<td><code>/sessions/</code></td>
	<td>Initialise a new compute session</td>
      </tr>
      <tr>
	<td><code>GET</code></td>
	<td><code>/sessions/{id}/</code></td>
	<td>Query specific session state</td>
      </tr>
      <tr>
	<td><code>PUT</code></td>
	<td><code>/sessions/{id}/</code></td>
	<td>Update specific session state</td>
      </tr>
      <tr>
	<td><code>DELETE</code></td>
	<td><code>/sessions/{id}/</code></td>
	<td>Close specific session</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}


<!--
    <tr class="danger">
      <td><code>GET</code></td>
      <td><code>/users/{user_id}/token</code></td>
      <td>Authenticate user for current session</td>
    </tr>
-->
