<h2>Core Functionality</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Feature</th>
        <th>Progress</th>
        <th class="text-center">Sponsor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Design a general-purpose API that covers a range of scientific computing requirements</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
	      <span class="sr-only">60% Complete (warning)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-warning"></span></a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Support general programs written in Python, Octave and R</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
	      <span class="sr-only">20% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Support several commonly-used libraries in scientific computing (e.g. FEniCS and matplotlib)</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
	      <span class="sr-only">40% Complete (warning)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-warning"></span></a></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Return a range of output formats (e.g. VTK in 2D and 3D, SVG, PNG, and client-renderable JS)</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
	      <span class="sr-only">10% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Allow for upload and download of large data using popular services (e.g. Dropbox or Google Drive)</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
	      <span class="sr-only">0% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Advanced Functionality</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Feature</th>
        <th>Progress</th>
        <th class="text-center">Sponsor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Allow for easy definition of custom computational environments with simple recipes (e.g. via Docker or Vagrant)</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
	      <span class="sr-only">0% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Allow for selective sharing of work environments and data with others</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
	      <span class="sr-only">0% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Allow for more dynamic interaction with the service (e.g. via sockets) for GUI apps</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
	      <span class="sr-only">0% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Allow for session-style interaction (like Mathics or iPython notebooks) for teaching</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
	      <span class="sr-only">0% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Support the programs of choice for your problem domain (Financial modelling? Computational Biology? Molecular dynamics? Machine learning? Something else awesome? Let me know!)</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
	      <span class="sr-only">0% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Security</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Feature</th>
        <th>Progress</th>
        <th class="text-center">Sponsor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Enable SSL throughout the site and the API</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
	      <span class="sr-only">100% Complete (success)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Sandbox running code at the language and OS-level (e.g. using AppArmor)</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
	      <span class="sr-only">30% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Authorize access to the API with Oauth 2 for safer integration with other services</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
	      <span class="sr-only">20% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Rate-limit the API to prevent abuse</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
	      <span class="sr-only">0% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Encrypt and backup data and results</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
	      <span class="sr-only">0% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>6</td>
        <td>Integrate with a modern payment processor (e.g. with Stripe)</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
	      <span class="sr-only">0% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Documentation and Examples</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Feature</th>
        <th>Progress</th>
        <th class="text-center">Sponsor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Document the API in a fun and helpful manner</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
	      <span class="sr-only">20% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Implement a beautiful, open source HTML5 + AJAX fronted to a highly-used numerical library</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
	      <span class="sr-only">0% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Implement an open source edX XBlock to grade and pose computational exercises</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
	      <span class="sr-only">30% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Computational Efficiency</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Feature</th>
        <th>Progress</th>
        <th class="text-center">Sponsor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Analyse incoming requests to determine repeated calculations</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
	      <span class="sr-only">30% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Cache output to quickly serve repeated calculations without duplicating effort</td>
        <td>
          <div class="progress">
	    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
	      <span class="sr-only">30% Complete (danger)</span>
	    </div>
	  </div>
        </td>
        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-heart-empty text-danger"></span></a></td>
      </tr>
    </tbody>
  </table>
</div>
