{% extends "layouts/base.html" %}

{% block title %}Terms of Service and Privacy Policy &mdash; thinkbot{% endblock %}

{% block content %}
<div class="alert alert-block alert-info fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  I am trying to find a lawyer to help me with these terms. What follows below is simply my layman&#8217s view on things.
</div>
<div class="row">
  <div class="col-lg-8">
    <h1 id="terms">Terms of Service</h1>
    <p>I will do my best to offer you a useful and delightful experience with thinkbot.</p>
    <p>Remember that thinkbot earns me a living and is trying to be a useful service for others as well. Please don&#8217;t abuse it or use it for anything evil.</p>
    <h1 id="privacy">Privacy Policy</h1>
    <p>thinkbot charges you a fair price for a useful service, so my relationship with you is clear. I value your privacy and definitely won&#8217;t sell your data.</p>
    {% if not user.is_authenticated %}
    <p>Like how all this sounds?</p>
    <p><a class="btn btn-success btn-lg" href="{% url 'registration_register' %}">Try thinkbot</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
