<h2>Getting started with thinkbot</h2>
<p>thinkbot&#8217;s API is organised as a <a href="#resources">set of resources</a> that can be manipulated with well-defined requests to the service. All requests to thinkbot are required to be over SSL and begin with:</p>
<pre><code>https://thinkbot.net/api/v1/
</code></pre>
<p>You generally need to authenticate with thinkbot when interacting with it. As you&#8217;ll soon see, this is easily done with your personal authentication token, <code>{{ user_token }}</code>, that you can find in <a href="/dashboard/">your dashboard</a>. This token is supposed to be unique to you, so please keep it a secret.</p>
<p>Grabbed your key? Then you&#8217;re ready for your very first interaction with thinkbot. We&#8217;re going to ask it to add two numbers using a one-line Python script that we&#8217;re going to submit using curl. Open a terminal window and type the following command:</p>
<pre><code>curl -X POST https://thinkbot.net/api/v1/jobs/ \
     -H "Authorization:  Token {{ user_token }}" \
     -F "name=My first thinkbot calculation" \
     -F "environment=python27" \
     -F "code=print 1 + 2"
</code></pre>
<p>{% if not user.is_authenticated %}
(You can copy and paste the code above into your terminal, but remember to change the authentication token to yours!)
{% endif %}</p>
<p>Once submitted, thinkbot puts your script into a queue and immediately responds with some handy information about your request:</p>
<pre><code>{
    "url": "https://thinkbot.net/api/v1/jobs/job_id/",
    "status": "submitted",
    "owner": "awesome_researcher",
    "created": "2013-08-22T11:36:58.907Z",
    "name": "My first thinkbot calculation",
    "environment": "python27",
    "code": "print 1 + 2",
    .
    .
    .
}
</code></pre>
<p>Notice that this information comes to you serialised as JSON, and that&#8217;s one of the primary ways you&#8217;ll be exchanging data with thinkbot. The critical pieces of information here are the <code>status</code> field, which lets you know your code has been submitted to thinkbot and the <code>url</code> field, <code>https://thinkbot.net/api/v1/jobs/job_id/</code>, which lets you know where the script you just submitted resides. We can use this URL to later check up on the status of our script, as well as retrieve interesting results when it completes.</p>
<p>Let&#8217;s use this URL to check up on our simple Python one-liner:</p>
<pre><code>curl -X GET https://thinkbot.net/api/v1/jobs/job_id/ \
     -H "Authorization:  Token {{ user_token }}"
</code></pre>
<p>thinkbot happily responds with a bunch of information,</p>
<pre><code>{
    "url": "https://thinkbot.net/api/v1/jobs/job_id/",
    "status": "completed",
    .
    .
    "code": "print 1 + 2",
    .
    .
    "stdout": "3\n",
    .
    .
}
</code></pre>
<p>including the fact that your script <code>completed</code> successfully and that it printed the number <code>3</code> to standard output. So there you have it, we submitted a simple calculation to thinkbot and it got back to us with the right answer.</p>
<p>This first example gave  a quick taste for how it is to interact with thinkbot, but I admit it was remarkably unexciting. But hang in there, things start getting much more exciting once you realise:</p>
<ul>
<li><strong>You can submit all kinds of sophisticated code to thinkbot</strong> involving various languages and scientific computing libraries, not just Python one-liners</li>
<li><strong>thinkbot can return numerical results in a variety of formats</strong>, not just serialised JSON</li>
<li><strong>Any mechanism that can handle standard HTTP request/response can interact with thinkbot</strong>, not just curl on the command-line. This includes <a href="https://plus.google.com/100382636415340600164/posts/j6SwiVP2UJB">specialised clients on iOS devices</a> and AJAX, as you&#8217;ll soon see.</li>
</ul>
<h2>More realistic (and exciting!) usage</h2>
<p>Now that I&#8217;ve whet your appetite, let&#8217;s move onto a more substantial example. This time, we&#8217;re going to solve a three-dimensional nonlinear elasticity problem using the finite element method. Once more, our code is going to be in Python, but now we&#8217;re going to submit a larger input program (<a href="https://thinkbot.net/assets/files/docs/examples/hyperelasticity.py">hyperelasticity.py</a>) and we&#8217;re going to retrieve our solution in the <a href="http://www.vtk.org/">VTK format</a>. The execution of this Python code relies on the <a href="http://fenicsproject.org/">FEniCS Project</a>, which is one of the handy software environments that thinkbot offers.</p>
<p>So let&#8217;s get started. <a href="https://thinkbot.net/assets/files/docs/examples/hyperelasticity.py">Download the Python script</a> we want to run to a convenient location and navigate to it in your terminal. To begin with, let&#8217;s again use curl to submit this code to thinkbot.</p>
<pre><code>curl -X POST https://thinkbot.net/api/v1/jobs/ \
    -H "Authorization:  Token {{ user_token }}" \
    -F "name=Twisting a hyperelastic block using thinkbot" \
    -F "environment=fenics11" \
    -F "code=&lt;hyperelasticity.py" \
    -F "variables=u.vtk"
</code></pre>
<p>Notice a few things. We defined the environment this code relies on (FEniCS Project 1.1), we take the code from our <code>hyperelasticity.py</code> file, and we request the output variable <code>u</code> in VTK format.</p>
<p>Again, thinkbot immediately returns with a bunch of JSON-encoded information about this code you just submitted. But this time you know what you&#8217;re looking for. Grab the URL attribute and check on the status of this code.</p>
<pre><code>curl -X GET https://thinkbot.net/api/v1/jobs/job_id/ \
     -H "Authorization:  Token {{ user_token }}"
</code></pre>
<p>If everything went well, you&#8217;ll see:</p>
<pre><code>{
    "url": "https://thinkbot.net/api/v1/jobs/job_id/",
    "status": "completed",
    .
    .
    "results": ["https://thinkbot.net/results/job_id/u.vtk"],
    .
    .
}
</code></pre>
<p>(If the status indicates that your code is still <code>running</code>, wait for a few seconds and retry the <code>GET</code> request.) You can now head on over to the results URL, download the results of the computation.</p>
<pre><code>curl -X GET -O https://thinkbot.net/results/job_id/u.vtk \
     -H "Authorization:  Token {{ user_token }}"
</code></pre>
<p>If you want to admire these beautiful results locally, you need a visualisation program like <a href="http://www.paraview.org/">Paraview</a>.</p>
<p>Using curl, thinkbot and Paraview is a fine way of solving this problem and visualising the results, but it isn&#8217;t as cool</p>
<p>[demonstration of embedding results]</p>
<p>[corresponding ajax snippet]</p>
<p>[poing to thinkbot example on MA]</p>
<p>Which means, any such scientific calculation can be shown to (or even edited, if you&#8217;d like that) by anyone with a URL.</p>
<p>And that&#8217;s cool.</p>
<p>And if you&#8217;ve made it this far, congratulations! You now have a good overview of what thinkbot can do for you. For specific details, do look at the complete list of API <a href="#resources">resources</a> and endpoints below. Remember thinkbot&#8217;s API and this documentation is a work in progress. If you have any questions or feedback, please <a href="mailto:support@thinkbot.net">get in touch with me</a>.</p>