{% extends "layouts/narrow.html" %}

{% block title %}Feature Sponsorships &mdash; thinkbot{% endblock %}

{% block narrow_content %}
<h1 id="features-status">Sponsor features important to you</h1>
<p>thinkbot is a young service that still needs a lot more functionality before it becomes useful to a broad audience of computational scientists and educators. After some enlightening conversations with people who&#8217;ve shown interest in the service, I&#8217;ve summarised their various needs into the following list of features that I intend on ploughing through as I get the time. If you find a feature particularly interesting for your problem domain, please do <a href="mailto:support@thinkbot.net?subject=thinkbot%20feature%20suggestion">let me know</a>. I would love to hear your thoughts on what you find useful so that I can better prioritise what to focus on next.</p>
<p>Also, if you&#8217;d like to speed up development on any of these fronts, please consider sponsoring my time to work on them. I am looking to raise about $5000 each month to focus on thinkbot full-time, and hope to complete a bulk of these features in about 6&ndash;8 months of full-time effort.</p>
<p>In addition to having me prioritise your feature of choice, if you sponsor $1250 or more, you will receive a whole year of access to thinkbot with support. If you sponsor $2500 or more, you will also receive access to the full source code for the project.</p>
<p>Please <a href="mailto:support@thinkbot.net?subject=I'd%20like%20to%20sponsor%20thinkbot%20development">get in touch</a> if you&#8217;d like to support the development of thinkbot.</p>
{% include "pages/features.html" %}
{% endblock %}

<!--
- <a href="{% url 'about' %}#partners">supportive partners</a>
-->
