{% extends "layouts/narrow.html" %}

{% block title %}Sponsor thinkbot features{% endblock %}

{% block narrow_content %}
<h1 id="features-status">Sponsorships and Development Status</h1>
<p>After some enlightening conversations with my <a href="{% url 'about' %}#partners">supportive partners</a>, I&#8217;ve been hard at work on the following set of features that I think will benefit computational scientists and educators everywhere. If you find a feature particularly interesting for your problem domain, please do <a href="mailto:support@thinkbot.net?subject=thinkbot feature suggestion">let me know</a>. I would love to hear your thoughts on what you find useful so that I can better prioritise what to focus on next.</p>
<p>Also, if you&#8217;d like to speed up development on any of these fronts, please consider sponsoring my time to work on them. I am looking to raise about $5000 each month to focus on thinkbot full-time, and hope to complete a bulk of these features in about 6&ndash;8 months of full-time effort.</p>
<p>In addition to having me prioritise your feature of choice, if you sponsor $1250 or more, you will receive a whole year of access to thinkbot with support. If you sponsor $2500 or more, you will also receive access to the full source code for the project.</p>
<p>Please <a href="mailto:support@thinkbot.net?subject=I'd like to sponsor thinkbot development">get in touch</a> if you&#8217;d like to support my efforts.</p>
{% include "pages/features.html" %}
{% endblock %}

<!--
- All contributors get early access to the service
- Larger contributors get to select which features get built out
-->
