html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: solid 1px #e7e7e7;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#footer a {
  color: #777;
}

#footer a:hover {
  text-decoration: none;
  color: #333;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
    margin-top: 30px;
    font-size: 30px;
}

.img-responsive {
    margin: 0 auto;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}