html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#footer a {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
    margin-top: 30px;
    font-size: 30px;
}

.img-responsive {
    margin: 0 auto;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}